ul {
  list-style: none;
  max-height: 400px;
  overflow: auto;
}

ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

ul::-webkit-scrollbar-track {
  background: transparent;
}

ul::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.562);
  border-radius: 100px;
}
